@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: 'Museo Slab 700';
  src: url('../font/Museo_Slab_700-webfont.eot');
  src: url('../font/Museo_Slab_700-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/Museo_Slab_700-webfont.woff') format('woff'),
       url('../font/Museo_Slab_700-webfont.ttf') format('truetype'),
       url('../font/Museo_Slab_700-webfont.svg#MuseoSlab700Regular') format('svg');
  font-weight: bold;
  font-style: normal;

}

body {
  font-family: 'Open Sans', Verdana, sans-serif;
}

h1 {
  text-align: center;
  line-height: 1.1 !important;
  margin-top: 0 !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Museo Slab 700';
}

.rendered_html tbody tr:hover, .rendered_html tbody tr {
  background: none !important;
}

div.text_cell {
    line-height: 1.7 !important;
    font-size: 16px !important;
    max-width: 750px;
    margin: 10px auto;
}

.prompt, .anchor-link {
  display: none;
}

#notebook-container {
  max-width: 1000px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div.output_subarea {
  max-width: 100% !important;
}
